* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #030303;
    color: white
}
.content-img-principal{
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
}

.content-img-principal img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content-img-principal div{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    text-align: end;
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-right: 5rem;
}

.content-img-principal div h1{
    font-size: 4rem;
    color: white;
}

.content-img-principal div p{
    font-size: 1rem;
    color: white;
}

.content-img-principal div small{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
    display: block;
}

.content-img-principal div a{
    display: block;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 1rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    transition: all .3s ease;
}

@media (max-width:991px){
    
   
    .movies{
        padding: 30px 70px;
    }
    .load-more{
        margin: auto;
    margin-top: 20px;
    }
   
    
}